@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="text-center">
    <h1 class="display-4">Учет успеваимости студентов</h1>
</div>
<div class="row">
    <center>
        <div class="col-md-12">
            <h2>Список студентов</h2>          
            <table class="table-bordered table-hover">
                <tr>
                    <td><p>Имя</p></td>
                    <td><p>Фамилия</p></td>
                    <td><p>Группа</p></td>
                    <td><p>Оценка</p></td>
                    <td><p>Предмет</p></td>
                </tr>
                @foreach (var c in ViewBag.Students)
                {
                    <tr>
                        <td><p>@c.FirstName</p></td>
                        <td><p>@c.LastName</p></td>
                        <td><p>@c.Group</p></td>
                        <td><p>@c.Score</p></td>
                        <td><p>@c.Lesson.Name</p></td>
                    </tr>
                }
            </table>
        </div>
        <p>Работу выполнил <a href="https://github.com/Churilin">Чурилин В.В.</a></p>
    </center>
    <a asp-controller="Students" asp-action="Create" style="margin-top: 10px;">Добавить студента &raquo;</a>
</div>
